# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.ven/
ven/
.venv/
venv/
env/

# Git
.git/
.gitignore

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project junk
logs/
data/
datasets/
