services:

  alpha_trading_framework:
    build: .    
    container_name: trading_framework
    env_file: .env
    # depends_on:
    #   - postgres
    #   - redis
    # ports:
    #   - 127.0.0.35:8000:8000
    #   - 127.0.0.35:5555:5555  # Add this line to expose Flower's port
    volumes:
      - .:/application  # Mounts the "downloads" folder for storing downloaded files
    # command: sh -c "while ! pg_isready -h postgres_server -U myuser; do sleep 1; done && tail -f /dev/null"
    # command: sh -c "while ! pg_isready -h postgres_server -U myuser; do sleep 1; done && poetry install --no-root && tail -f /dev/null"
    # command: sh -c "while ! pg_isready -h postgres_server -U myuser; do sleep 1; done && poetry install --no-root && uvicorn main:app --host 0.0.0.0 --port 8000 --reload"
    # command: sh -c "while ! pg_isready -h postgres_server -U myuser; do sleep 1; done && poetry run python app.py"
    command: tail -f /dev/null  # Keeps the container running
    networks:
      - trading_framework_network
  
  # postgres:
  #   image: postgres:15
  #   container_name: trading_app_db
  #   environment:
  #     POSTGRES_USER: myuser
  #     POSTGRES_PASSWORD: mypassword
  #     POSTGRES_DB: mydatabase
  #   volumes:
  #     - postgres_data:/var/lib/postgresql/data
  #   ports:
  #     - "5437:5432"               # Expose the PostgreSQL port
  #   networks:
  #     - trading_framework_network

  # redis:
  #   image: redis:7
  #   container_name: trading_redis
  #   restart: always
  #   ports:
  #     - "6379:6379"
  #   networks:
  #     - trading_framework_network   

# volumes:
#   postgres_data:

networks:
  trading_framework_network:
